# Application
PORT=3000
NODE_ENV=development

# Database (PostgreSQL)
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=yaqeen_db

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

# Telegram Bot & JWT Security
TELEGRAM_BOT_TOKEN=
JWT_SECRET=super_secret_key_change_me_in_production
JWT_EXPIRES_IN=30m
REFRESH_TOKEN_EXPIRES_IN=30d

# MinIO Storage
MINIO_ENDPOINT=127.0.0.1
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_NAME=yaqeen-attachments
MINIO_PUBLIC_URL=https://backend-yaqeen.uz
